<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{../bootstrap/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{../bootstrap/js/bootstrap.min.js}"></script>
	<div style="width: 600px; height: 400px; padding-top: 50px;padding-left:30px;font-size:15px;">
		ERROR new!
	</div>

</body>
</html>