<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>我的资料已注册版本</title>
<link rel="stylesheet" href="/css/weui.css" />
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/mydataweizhuce.css" />
<script src="/js/fontsize.js"></script>
</head>
<body>
<div class="container">
    <!--VIP会员卡各项-->
    <div class="header">

        <a href="../editInfo.html"><div class="vipcard">
        <div class="user">
            <img src="/image/我的资料/7.png" />
            <div class="user-info">
                <div class="username">王权泉</div>
                <div class="num">2520</div>
                <div class="phonecd"><span>18766266577</span>·巨硬有限公司</div>
            </div>
        </div>
        <div class="vipcode">
            <i>NO.10555728891</i>
        </div>
    </div></a>
        <!--积分保修卡优惠券各项-->
        <div class="headlist">
            <!--积分-->
            <div class="inteagrl">
                <div class="headlist1"><a href="#">7810</a></div>
                <div class="headlist2"><a href="#">积分</a></div>
            </div>
            <div class="line"></div>
            <!--保修卡-->
            <div class="warrantycard">
                <div class="headlist1"><a href="../myWarrantycard.html">查看</a></div>
                <div class="headlist2"><a href="../myWarrantycard.html">保修卡</a></div>
            </div>
            <div class="line"></div>
            <!--优惠券-->
            <div class="coupon">
                <div class="headlist1"><a href="../mycoupon.html">24张</a></div>
                <div class="headlist2"><a href="../mycoupon.html">优惠券</a></div>
            </div>
        </div>
    </div>
    <!--页面主选项表-->
    <div class="mianlist">
        <div class=" weui-cells_form">
            <a class="weui-cell weui-cell_access" href="../myequipment.html">
                <img src="/image/我的资料/9.png" alt="" class="mianimg" />
                <div class="weui-cell__bd">
                    <p>我的设备</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
            <a class="weui-cell weui-cell_access" href="#">
                <img src="/image/我的资料/10.png" alt="" class="mianimg" />
                <div class="weui-cell__bd">
                    <p>我的订单</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>