

.logobox{
    height: 2.7rem;
    display: flex;
    justify-content: center;
}
.logobox > img{
    margin-top: 0.53rem;
}
/*注册信息输入框*/
.ptbox{
    height: 0.94rem;
    font-size: 0.3rem;
    color:#B2B2B2;
}
.ptimg{
    width:0.94rem;
    height:0.94rem;
}

.vcodept{
    width: 2.8rem;
    margin: 0;
    padding:0;
}
.vcodeptbox{
    margin-left: 1rem;
}
.vcodebt{
    color: #E64240;
    font-size: 0.3rem;
}
.toast{
    border-radius: 5%;
     background: rgba(0,0,0,.5);
     height: 0.8rem;
     width: 2rem;
    color: #404040;
    font-size: 0.2rem;
    text-align: center;
    position:fixed;
    right:0;
    top:31%;
    display: none;

}
/*注册按钮*/
.zhucebt {
    margin: 0.5rem 0.2rem;
    height: 0.94rem;
}
.zhucebt>a{
    font-size: 0.3rem;
    height: 0.94rem;
    padding-top: 0.1rem;
}
