<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>404</title>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/404.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/fontsize.js"></script>
</head>
<body>
<div class="container">
        <div class="gifbox">
            <img src="/image/404.gif" style="width:2.6rem; height:2.6rem;"/>
        </div>
        <div class="mainbox">
            <div class="item1">404</div>
            <div class="item2">
                <span class="sp1">&nbsp;&nbsp;&nbsp;&nbsp;糟糕，你访问的页面找不到了！</span>
                <span class="sp2"></span>
            </div>
        </div>
        <div class="btnbox">返回</div>
</div>
<script src="/js/404.js"></script>
</body>
</html>