<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>更多精彩</title>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/await.css"/>
    <script src="/js/fontsize.js"></script>
</head>
<body>
<div class="container">
    <img src="/image/await.png" style="width: 5.19rem;height: 3.32rem;"/>
</div>
</body>
</html>