<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>报修成功</title>
    <link rel="stylesheet" href="/css/weui.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/fontsize.js"></script>
</head>
<body>
<div class="container">
    <div class="page msg_success js_show">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
            	<span style="display: none;" id="fixId" th:text="${fixId}"></span>
            	<span style="display: none;" id="deviceNo" th:text="${deviceNo}"></span>
                <h2 class="weui-msg__title">报修成功</h2>
                <p class="weui-msg__desc">请耐心等待客服确认来电<br/>如有疑问，请联系客服：
                    <a href="javascript:void(0);">400-802-0048</a></p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="#" id="fixStatus" class="weui-btn weui-btn_warn">报修进度查询</a>
                    <!--<a href="javascript:history.back();" class="weui-btn weui-btn_default">辅助操作</a>-->
                </p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__text">© 南京富士通电子信息科技股份有限公司</p>
                </div>
            </div>
        </div>
    </div>
    <!-- loading toast -->
    <div id="loadingToast" style="display:none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p style="font-size: 0.3rem" class="weui-toast__content">数据加载中</p>
        </div>
    </div>
    <!-- loading toast END-->
</div>
<script src="/js/fixsuccess.js"></script>
</body>
</html>