<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"/> 
    <title>登录</title>
    <link rel="stylesheet" href="/css/mgr/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/mgr/reset.css"/>
    <link rel="stylesheet" href="/css/mgr/login.css"/>
    <script src="/js/mgr/jquery.min.js"></script>
</head>
<body style="background:#ffffff;">
<div class="main">
    <div class="nav">
        <img src="/image/images/login/5.png"/>
    </div>
    <div class="bgbox">
        <div class="loginbox">
            <div class="codebox">
                <img src="/image/images/login/4.png"/>
                <input class="jobcode" type="text" placeholder="请输入工号"/>
            </div>
            <div class="codebox">
                <img src="/image/images/login/3.png"/>
                <input class="password" type="password" placeholder="请输入密码"/>
            </div>
            <div><a class="forget" href="javascript:;"></a></div>
            <!--<div class="loginbtn"></div>-->
            <button class="btn btn-danger loginbtn">登录<img class="arrow" src="/image/images/login/6.png"/></button>
        </div>
    </div>
    <div class="color"></div>
    <!-- <div class="footer">
        <div class="copyright">Copyright&nbsp;&copy;&nbsp;2017&nbsp;南京富士通电子科技股份有限公司</div>
        <div class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium</div>
    </div> -->
    
    <div class="footer">
        <div class="copyright">
			Copyright &copy;2017 富通电科  版权所有 All rights reserved. <a style="text-decoration:none;" href="http://www.miitbeian.gov.cn">苏ICP备05012315号-2 </a> 
		</div>
        <div class="lorem">南京富士通电子信息科技股份有限公司</div>
   </div>
    
    <script src="/js/mgr/login.js"></script>
</div>
</body>
</html>