<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>我的优惠券</title>
    <link rel="stylesheet" href="/css/weui.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/mycoupon.css"/>
    <script src="/js/fontsize.js"></script>
    <script src="/js/jquery-1.11.3.js"></script>
</head>
<body>
<div class="container">
    <!--页面顶部导航条-->
    <div class="header">
        <div class="weui-navbar">
        <div class="weui-navbar__item weui-bar__item_on btn1">
            延保券
        </div>
        <div class="weui-navbar__item btn2">
            优惠券
        </div>
    </div>
    </div>
    <!--优惠券页面-->
    <div class="main_coupon">
      <div class="coupon">
        <!--优惠券已使用-->
        <!-- <a href="mycoupondetailpage1.html">
        <div class="couponbox1">
            <div class="couponoffer">
                    <div class="couponimg"><img src="/image/mycoupon/4.png"/></div>
                    <div class="couponitem">
                        <div class="item1">优惠券</div>
                        <div class="item2">优惠金额：45元</div>
                    </div>
                    <div class="icon"><img src="/image/mycoupon/5.png" style="width:0.9rem;height: 0.42rem;"/></div>
            </div>
            <div class="expirydate"><p>有效日期：2017年7月11日</p></div>
        </div>
        </a> -->
        <!--优惠券未使用-->
        <!-- <a href="mycoupondetailpage1.html">
            <div class="couponbox2">
                <div class="couponoffer">
                    <div class="couponimg"><img src="/image/mycoupon/4.png"/></div>
                    <div class="couponitem">
                        <div class="item1">优惠券</div>
                        <div class="item2">优惠金额：45元</div>
                    </div>
                    <div class="icon"><img src="/image/mycoupon/6.png" style="width:0.9rem;height: 0.42rem;"/></div>
                </div>
                <div class="expirydate"><p>有效日期：2017年7月11日</p></div>
            </div>
        </a> -->
        <div class="msgstyle">暂时没有优惠券哦！</div>
    </div>
    </div>
    <!--延保券页面-->
    <div class="main_deferred">
       <div class="deferred">
        <!--延保券未使用-->
        <a href="#">
            <div class="deferredbox2" th:each="ticket:${ticketList2}">
                <div class="deferredoffer">
                    <div class="deferredimg">
                    	<img src="/image/mycoupon/1.png"/>
                    </div>
                    <div class="deferreditem">
                        <div class="deferreditem1">延保券</div>
                        <div class="deferreditem2" th:text="|延保期限：${ticket.period}个月|"></div>
                    </div>
                    <div class="icon"><img src="/image/mycoupon/6.png" style="width:0.9rem;height: 0.42rem;"/></div>
                </div>
                <div class="expirydate"><p th:text="|设备编码：${ticket.deviceNo}|"></p></div>
            </div>
        </a>
        <!--延保券已使用-->
        <a href="#">
            <div class="deferredbox1" th:each="ticket:${ticketList1}">
                <div class="deferredoffer">
                    <div class="deferredimg"><img src="/image/mycoupon/1.png"/></div>
                    <div class="deferreditem">
                        <div class="deferreditem1">延保券</div>
                        <div class="deferreditem2" th:text="|延保期限：${ticket.period}个月|"></div>
                    </div>
                    <div class="icon"><img src="/image/mycoupon/5.png" style="width:0.9rem;height: 0.42rem;"/></div>
                </div>
                <div class="expirydate"><p th:text="|设备编码：${ticket.deviceNo}|"></p></div>
            </div>
        </a>   
        <div th:if="${ticketSize} == 0" class="msgstyle">您还没有延保券诶，绑定设备可获超值延保券哦！</div>    
    </div>
    </div>
</div>
<script src="/js/mycoupon.js"></script>
</body>
</html>