<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>设备优惠券</title>
    <link rel="stylesheet" href="css/weui.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/mycoupondetailpage.css">
    <script src="js/fontsize.js"></script>
</head>
<body>
<div class="container">
    <div class="main">
        <div class="itembox">
            <div class="item1">优惠券</div>
            <div class="item2"><img src="image/mycoupon/1.png" style="width: 1.14rem;height:1.14rem;"></div>
            <div class="item3">优惠金额50000</div>
            <a href="#" class="weui-btn weui-btn_plain-primary item4">立即使用</a>
            <div class="item5"></div>
            <div class="item6s"><span class="sp1">设备编码：</span><span class="sp2">VIN2017898989</span></div>
        </div>
    </div>
    <div class="middle">
        <div class="qrcodes"><img src="image/mycoupondetailpage/1.png" style="width:3rem;height: 3rem;"></div>
    </div>
    <!--页脚-->
    <div class="weui-footer footboxs">
        <p class="weui-footer__text">&copy;南京富士通电子信息科技股份有限公司</p>
    </div>
</div>
</body>
</html>