<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/pay.js"></script>
</head>
<body>

	<div
		style="width: 600px; height: 400px; padding-top: 50px; padding-left: 30px; font-size: 15px;">

		<button id="pay_confirm" type="button" class="btn btn-success">支付</button>
	</div>

</body>
</html>