<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>常见问题解决方案</title>
    <link rel="stylesheet" href="/css/weui.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script src="/js/fontsize.js"></script>
    <script src="/js/jquery-1.11.3.js"></script>
    <style>
        .probtn{
            margin:0.3rem;
        }
    </style>
</head>
<body>
<div class="container">
    <!--页面主体内容-->
    <div class="page__bd">
        <article class="weui-article">
            <h1>打印机走纸问题</h1>
                <section>
                    <h3>1：打印命令结束后，连续纸不能自动升起到纸张的折缝处，不好撕纸。</h3>
                    <p>
                        A: 用自动撕纸方式，将打印机菜单内的“自动撕纸”选项设置为“自动或AUTO”。
                        B：用手动撕纸方式，打印命令结束后，按一下面板上的【切纸】键或
                        【装纸/卸纸】键，打印机进入撕纸状态。
                        C: 处于撕纸状态后，根据使用情况可进行撕纸位置的微调。
                        （详见打印机设置调整——自动撕纸设置调整）
                    </p>
                </section>
                <section>
                    <h3>2：打印连页纸时，首页位置内容正确，但打印过程中位置一张比一张向上或向下错位。</h3>
                    <p>
                        A: 因电脑设置的纸张长（高）度不精确而致使打印时格式不正确。
                        B: 检查客户端的打印软件，是否有自定义纸张大小的选项，如果有，请将页长设为实际使用的纸张的长度即可。
                        C: 在打印机驱动程序内自定义非标准纸型并添加入驱动。
                        （详见打印机设置调整——非标纸张定义及添加）
                    </p>
                </section>
               <section>
                <h3>3：打印机开机正常，但不进纸。</h3>
                <p>
                    A: 请在仅接电源线的状态下测试打印机，判断是否打印机硬件故障。
                    B: 检查打印机“单/连转换手柄”，是否调整到当前所用纸张的状态。
                    C: 检查纸张是否放置在打印机规定的检测范围内。
                    D: 若使用非标准纸张，如（不干胶纸张，厚度不均匀纸张等），请用其他标准
                    纸张测试。

                    注：打印机单页纸状态下，为自动进纸。
                    打印机连页纸状态下，需按下【装纸/卸纸】键后手动进纸。
                </p>
               </section>
            <section>
                <h3>4：打印机卡纸，进纸后纸张斜。</h3>
                <p>
                    A: 检查打印机纸厚调节手柄是否调节准确。
                    B: 取下色带盒后测试走纸情况，判断是否因为色带盒未安装到位。
                    （特别注意色带芯上的绿色卡子安装）
                </p>
            </section>
        </article>
    </div>
    <!--底部按钮-->
    <div class="probtn">
        <a href="/page/problemlist" class="weui-btn weui-btn_primary">未解决，返回上一步</a>
    </div>
</div>
</body>
</html>