<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>常见问题解决方案</title>
    <link rel="stylesheet" href="/css/weui.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script src="/js/fontsize.js"></script>
    <script src="/js/jquery-1.11.3.js"></script>
    <style>
        .probtn{
            margin:0.3rem;
        }
    </style>
</head>
<body>
<div class="container">
    <!--页面主体内容-->
    <div class="page__bd">
        <article class="weui-article">
            <h1>打印机印字问题</h1>
                <section>
                    <h3>1：单层A4纸打印不清晰，字迹模糊，印字中间有白杠。</h3>
                    <p>
                        A: 检查打印机耗材（色带盒，色带芯）是否需要更换。
                        B: 检查打印机纸厚调节手柄是否调节准确。
                        注1：打印1张A4纸厚度的纸张时，请将手柄调节至1刻度，使用纸张厚度发生变化时请根据1张A4纸1刻度的标准调整.
                        注2：自动调节纸张厚度的打印机无需调整。
                        C: 检查打印机色带驱动机构。
                        1）	关闭打印机电源，取下色带盒。
                        2）	请用一只手捏住打印机内部色带驱动齿轮，略微使劲，另一只手左右拉动打印头使字车架移动，感觉齿轮是否跟随转动，若齿轮不转则色驱损坏。
                        D: 打印机自检打印，检测是否硬件故障。
                    </p>
                </section>
                <section>
                    <h3>2：打印单层纸清楚，打印复写纸时第一联清楚，复写联不清晰。</h3>
                    <p>
                        A: 检查打印机纸厚调节手柄是否调节准确。
                        注1：打印1张A4纸厚度的纸张时，请将手柄调节至1刻度，使用纸张厚度发生变化时请根据1张A4纸1刻度的标准调整.
                        注2：自动调节纸张厚度的打印机无需调整。
                        B: 检查复写纸张的复写能力是否正常。请更换新复写纸打印测试。
                        C: 调整打印设置菜单内的“拷贝能力”选项,可选择“高拷贝”。
                        （详见打印机设置调整——设置拷贝能力）
                        D: 将打印机驱动程序内的打印速度选项设为“正常速度”或“信函”。

                    </p>
                </section>
               <section>
                <h3>3：打印内容上有色带拖出的黑色擦痕。</h3>
                <p>
                    A: 更换新的色带盒，色带芯打印测试。
                    B: 检查打印机纸厚调节手柄是否调节准确。(档位调节过低)
                    注1：打印1张A4纸厚度的纸张时，请将手柄调节至1刻度，使用纸张厚度发生变化时请根据1张A4纸1刻度的标准调整.
                    注2：自动调节纸张厚度的打印机无需调整。
                    C: 使用纸张的表面是否过于光滑（如：奖状纸等），建议购买专用干粉耗材。
                </p>
               </section>
            <section>
                <h3>4：打印机竖线不直，字迹扭曲，字体错位，对齐度调整。</h3>
                <p>
                    A: 调整打印机的竖线对齐度（详见打印机设置调整——竖线对齐度调整）。
                    B: 若对打印竖线要求高，可建议使用单向打印，下载安装单向打印驱动。
                    (单向打印驱动请上公司官网的下载中心搜索机型DPK8600E)
                    C: 更换新色带盒，适当清理打印机导轴后重新调整竖线。
                    D: 部分打印机由于长年使用，造成打印机齿轮或皮带的磨损,则需要与本公司的技术服务中心或维修站联系。
                </p>
            </section>
        </article>
    </div>
    <!--底部按钮-->
    <div class="probtn">
        <a href="/page/problemlist" class="weui-btn weui-btn_primary">未解决，返回上一步</a>
    </div>
</div>
</body>
</html>