<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>用户反馈</title>
    <link rel="stylesheet" href="css/weui.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/userfeedback.css"/>
    <script src="js/fontsize.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea textarea" placeholder="反馈信息" rows="3"></textarea>
                    <div class="weui-textarea-counter textarea">200字以内</div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn">
        <a href="userfeedbacksuccess.html" class="weui-btn weui-btn_warn">提交</a>
    </div>
</div>
</body>
</html>