<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>保修声明</title>
    <link rel="stylesheet" href="/css/weui.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/Warrantystatement.css"/>
    <script src="/js/fontsize.js"></script>
</head>
<body>
<div class="container">
    <!--页面主体内容-->
    <div class="page__bd">
        <article class="weui-article">
            <h1 style="text-align: center;">保修声明</h1>
            <section>
                <h3></h3>
                <p style="line-height: 1.2;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    南京富士通电子信息科技股份有限公司（以下简称南京富士通）产品自开具发票之日起计算保修期和“三包”有效期，在产品“三包”有效期内，
                    正常状态下使用本产品而发生的故障，可依据“三包”规定予以修理、更换、退货。在产品保修期内，
                    可依据此保修条款的内容，在全国各地的南京富士通服务中心和认证维修站享受无偿维修服务。
                </p>
            </section>
            <section>
                <h3></h3>
                <p style="line-height: 1.2;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    针式打印机的打印头在一年内出现断针现象（非人为因素）包换 <br/>
                    （1）非人为因素”指在正常情况下使用出现的损坏。<br/>
                    （2）人为因素;指下列几种情况： 在运送或移动以及冲击等情况造成的损坏；
                    使用不当或不正确修理造成的损坏； 使用了非富士通原装消耗品而造成的损坏；
                    使用非富士通专用的电池及电源适配器而造成的损坏。
                </p>
            </section>
        </article>
    </div>
</div>
</body>
</html>